    <div style="text-align:center">

      <table class="table">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Date</th>
          <th scope="col">Customer</th>
          <th scope="col">Address</th>
          <th scope="col">City</th>
          <th scope="col">Postcode</th>
          <th scope="col">Country</th>
          <th scope="col">Amount</th>
          <th scope="col">Status</th>
          <th scope="col">Deleted</th>
          <th scope="col">Last Modified</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders | paginate: config ; let i=index">
            <td>  {{order?.id}}</td>
            <td>  {{order?.date}}</td>
            <td>  {{order?.customer}}</td>
            <td>  {{order?.address1}}</td>
            <td>  {{order?.city}}</td>
            <td>  {{order?.postcode}}</td>
            <td>  {{order?.country}}</td>
            <td>  {{order?.amount}}</td>
            <td>  {{order?.status}} <br/>
              <form (click)="sendCancelRequest(order?.id)" method="post">
              <input type="submit" value="отменить" style="font-size:12px;border:none;background: rgba(0,0,0, 0);color: crimson">
              </form>
            </td>
            <td>  {{order?.deleted}}</td>
            <td>  {{order?.last_modified}}</td>
          </tr>
        </tbody>
      </table>

      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

    </div>
